--
-- PostgreSQL database dump
--

-- Dumped from database version 16.3
-- Dumped by pg_dump version 16.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: apartment_type; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.apartment_type (
    id integer NOT NULL,
    code character varying(20),
    name character varying(100),
    amount double precision
);


ALTER TABLE public.apartment_type OWNER TO postgres;

--
-- Name: apartment_type_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.apartment_type_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.apartment_type_id_seq OWNER TO postgres;

--
-- Name: apartment_type_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.apartment_type_id_seq OWNED BY public.apartment_type.id;


--
-- Name: houseowner; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.houseowner (
    index bigint,
    title text,
    name text,
    address1 text,
    address2 text,
    phonenumber text
);


ALTER TABLE public.houseowner OWNER TO postgres;

--
-- Name: houseowner2; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.houseowner2 (
    index bigint,
    "Title" text,
    "Name" text,
    address1 text,
    "Address 2" text,
    phonenumber double precision
);


ALTER TABLE public.houseowner2 OWNER TO postgres;

--
-- Name: master_data; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.master_data (
    id integer NOT NULL,
    name character varying(100),
    installment1 double precision,
    installment2 double precision,
    installment3 double precision,
    installment4 double precision,
    amount_due double precision,
    phonenumber character varying(50)
);


ALTER TABLE public.master_data OWNER TO postgres;

--
-- Name: master_data2; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.master_data2 (
    index bigint,
    "Name" text,
    "Installment1" double precision,
    "Installment2" double precision,
    "Installment3" double precision,
    "Installment4" double precision,
    "Installment5" double precision,
    "TOTAL PAID" double precision,
    "BALANCE AMOUNT TO PAY" double precision,
    "AMOUNT DUE FOR THE YEAR" double precision,
    "HOUSE NO" text,
    "ApartmentType" text,
    "AccountNumber" text
);


ALTER TABLE public.master_data2 OWNER TO postgres;

--
-- Name: master_data_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.master_data_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.master_data_id_seq OWNER TO postgres;

--
-- Name: master_data_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.master_data_id_seq OWNED BY public.master_data.id;


--
-- Name: paymenttransactions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.paymenttransactions (
    id integer NOT NULL,
    phonenumber character varying(50) NOT NULL,
    description character varying(200) NOT NULL,
    amount character varying(50) NOT NULL,
    paymentdate character varying(50) NOT NULL,
    paymenttype character varying(50) NOT NULL,
    cashcollector character varying(50) NOT NULL,
    transtype character varying(50) NOT NULL,
    groupid integer NOT NULL,
    status character varying(50) NOT NULL
);


ALTER TABLE public.paymenttransactions OWNER TO postgres;

--
-- Name: paymenttransactions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.paymenttransactions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.paymenttransactions_id_seq OWNER TO postgres;

--
-- Name: paymenttransactions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.paymenttransactions_id_seq OWNED BY public.paymenttransactions.id;


--
-- Name: register; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.register (
    index bigint,
    title text,
    surname text,
    firstname text,
    othernames text,
    address text,
    apartmenttype text,
    groupid integer,
    phonenumber character varying(50),
    acct_number character varying(50),
    status character varying(50)
);


ALTER TABLE public.register OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id integer NOT NULL,
    username character varying(50) NOT NULL,
    password character varying(100),
    status character varying(50),
    dateregistered character varying(50),
    defaultpwd character varying(10),
    logindate character varying(50)
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users1; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users1 (
    id integer NOT NULL,
    username character varying(50) NOT NULL,
    password character varying(100),
    status character varying(50),
    dateregistered character varying(50),
    defaultpwd character varying(10)
);


ALTER TABLE public.users1 OWNER TO postgres;

--
-- Name: users1_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users1_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users1_id_seq OWNER TO postgres;

--
-- Name: users1_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.users1_id_seq OWNED BY public.users1.id;


--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: apartment_type id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.apartment_type ALTER COLUMN id SET DEFAULT nextval('public.apartment_type_id_seq'::regclass);


--
-- Name: master_data id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.master_data ALTER COLUMN id SET DEFAULT nextval('public.master_data_id_seq'::regclass);


--
-- Name: paymenttransactions id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.paymenttransactions ALTER COLUMN id SET DEFAULT nextval('public.paymenttransactions_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Name: users1 id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users1 ALTER COLUMN id SET DEFAULT nextval('public.users1_id_seq'::regclass);


--
-- Data for Name: apartment_type; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.apartment_type (id, code, name, amount) FROM stdin;
2	002	Flats	20000
3	003	Duplex	40000
4	004	Single Room	10000
5	005	Mini Flats	15000
6	006	Self Contained	12000
7	007	Commercial	80000
8	008	Network Mast	200000
1	001	Bungalow	30000
\.


--
-- Data for Name: houseowner; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: houseowner2; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: master_data; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.master_data (id, name, installment1, installment2, installment3, installment4, amount_due, phonenumber) FROM stdin;
\.


--
-- Data for Name: master_data2; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: paymenttransactions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: register; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: users1; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users1 (id, username, password, status, dateregistered, defaultpwd) FROM stdin;
1	dapo	$1$UhB3MX71$2K48qORKURp88u7Y7yNKY1	1	31/01/2025	1
3	tayo	$1$Ngk9L.sV$gAsyOpQOftJANZ3J0asZO0	1	31/01/2025	1
4	dayo	$1$kCvGCXx.$q4vfsYaZ2Dn6YHGxRIyY71	1	31/01/2025	1
5	bukky	$1$4zpgSVMK$2Yeq6VLgRVrLOu9cyVFwi1	1	31/01/2025	1
\.


--
-- Name: apartment_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.apartment_type_id_seq', 8, true);


--
-- Name: master_data_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.master_data_id_seq', 1, false);


--
-- Name: paymenttransactions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.paymenttransactions_id_seq', 321, true);


--
-- Name: users1_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users1_id_seq', 5, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_id_seq', 399, true);


--
-- Name: apartment_type apartment_type_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.apartment_type
    ADD CONSTRAINT apartment_type_pkey PRIMARY KEY (id);


--
-- Name: master_data master_data_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.master_data
    ADD CONSTRAINT master_data_pkey PRIMARY KEY (id);


--
-- Name: users1 users1_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users1
    ADD CONSTRAINT users1_pkey PRIMARY KEY (username);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (username);


--
-- Name: ix_houseowner2_index; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_houseowner2_index ON public.houseowner2 USING btree (index);


--
-- Name: ix_master_data2_index; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_master_data2_index ON public.master_data2 USING btree (index);


--
-- PostgreSQL database dump complete
--



ns-30.awsdns-03.com.
ns-1479.awsdns-56.org.
ns-1719.awsdns-22.co.uk.
ns-765.awsdns-31.net.