{% include "header.html" %}
<script>
    var check = function() {
        if (document.getElementById('newpassword').value ==
            document.getElementById('retypepassword').value) {
            document.getElementById('message').style.color = 'green';
            document.getElementById('message').innerHTML = 'password matched';
            document.getElementById('submit').disabled = false;
        } 
        else {
            document.getElementById('message').style.color = 'red';
            document.getElementById('message').innerHTML = 'password not matching';
            document.getElementById('submit').disabled = true;
  }
}
</script>
<div class="px-4 pt-5 my-5 text-center border-bottom">
    <h3>Change Password</h3>
</div>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="my-5">
                            <form action="{{ url_for('processchangepassword') }}" method="POST">
                                <div class="mb-3 mt-3">
                                    <label for="Phonenumber" class="form-label">Phonenumber:</label>
                                    <input type="text" class="form-control" id="phonenumber" placeholder="Enter Phonenumber" name="phonenumber" required>
                                </div>
                                <div class="mb-3 mt-3">
                                    <label for="New Password" class="form-label">New Password:</label>
                                    <input type="text" class="form-control" id="newpassword" placeholder="Enter New Password" name="newpassword" required>
                                </div>
                                <div class="mb-3 mt-3">
                                    <label for="Retype Password" class="form-label">Retype Password:</label>
                                    <input type="text" class="form-control" id="retypepassword" placeholder="Retype Password" name="retypepassword" required onkeyup='check();'>
                                    <span id='message'></span>
                                </div>
                                <button type="submit" class="btn btn-primary" id="submit">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
{% include "footer.html" %}