{% include "header.html" %}
<script>
    var check = function () {
        if (document.getElementById('newpassword').value ==
            document.getElementById('retypepassword').value) {
            document.getElementById('message').style.color = 'green';
            document.getElementById('message').innerHTML = ' password matched';
            document.getElementById('submit').disabled = false;
        }
        else {
            document.getElementById('message').style.color = 'red';
            document.getElementById('message').innerHTML = ' password not matching';
            document.getElementById('submit').disabled = true;
        }
    }


    document.addEventListener('DOMContentLoaded', function () {
        const togglePassword = document.getElementById('togglePassword');
        const togglePassword1 = document.getElementById('togglePassword1');
        const passwordInput = document.getElementById('newpassword');
        const passwordInput1 = document.getElementById('retypepassword');

        togglePassword.addEventListener('click', function () {
            const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
            passwordInput.setAttribute('type', type);
            this.querySelector('i').classList.toggle('bi bi-lock-fill');
            this.querySelector('i').classList.toggle('bi bi-unlock-fill');
        });

        togglePassword1.addEventListener('click', function () {
            const type = passwordInput1.getAttribute('type') === 'password' ? 'text' : 'password';
            passwordInput1.setAttribute('type', type);
            this.querySelector('i').classList.toggle('bi-eye');
            this.querySelector('i').classList.toggle('bi-eye-slash');
        });
    });
</script>

<div class="px-4 pt-5 my-5 text-center border-bottom">
    <h3>Change Password</h3>
</div>
<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="my-5">
                    <form action="{{ url_for('processchangepassword') }}" method="POST">
                        <div class="mb-3 mt-3">
                            <label for="Phonenumber" class="form-label">Phonenumber:</label>
                            <input type="text" class="form-control" id="phonenumber" placeholder="Enter Phonenumber" name="phonenumber" required>
                        </div>
                        <div class="mb-3 mt-3">
                            <label for="New Password" class="form-label">New Password:</label>
                            <div class="input-group mb-3">
                                <button class="btn btn-primary" type="button" id="togglePassword">
                                    <i class="bi bi-lock-fill"></i>
                                </button>
                                <input type="password" class="form-control" id="newpassword" placeholder="Enter New Password" name="newpassword" required>
                                
                            </div>
                        </div>
                        <div class="mb-3 mt-3">
                            <label for="Retype Password" class="form-label">Retype Password:</label>
                            <div class="input-group mb-3">
                                <button class="btn btn-primary" type="button"  id="togglePassword1">
                                    <i class="bi bi-lock-fill"></i>
                                </button>
                                <input type="password" class="form-control" id="retypepassword" placeholder="Retype Password" name="retypepassword" required onkeyup='check();'>
                                 <span id='message'></span>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary" id="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
{% include "footer.html" %}