{% include "header.html" %}
<div class="px-4 pt-5 my-5 text-center border-bottom">
    <h3>Resident Information Form</h3>
</div>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="my-5">
                            <form action="{{ url_for('updateresidentprofile') }}" method="POST">
                                <div class="mb-3 mt-3 form-group">
                                    <label for="title" class="form-label">Title: </label>
                                </div>
                                <select name="title" class="form-select mt-3">
                                    <option value="Mr" {{ 'selected' if profile['title'] == 'Mr' else '' }}>Mr</option>
                                    <option value="Mrs" {{ 'selected' if profile['title'] == 'Mrs' else '' }}>Mrs</option>
                                    <option value="Ms." {{ 'selected' if profile['title'] == 'Ms.' else '' }}>Ms.</option>
                                    <option value="Pastor" {{ 'selected' if profile['title'] == 'Pastor' else '' }}>Pastor</option>
                                    <option value="Alhaji" {{ 'selected' if profile['title'] == 'Alhaji' else '' }}>Alhaji</option>
                                </select>
                                <div class="mb-3 mt-3 form-group">
                                    <label for="surname" class="form-label">Surname:</label>
                                    <input type="text" class="form-control" id="surname" placeholder="Enter surname" name="surname" required value="{{ profile['surname'] }}">
                                </div>
                                <div class="mb-3 mt-3 form-group">
                                    <label for="firstname" class="form-label">Firstname:</label>
                                    <input type="text" class="form-control" id="firstname" placeholder="Enter firstname" name="firstname" required value="{{ profile['firstname'] }}">
                                </div>
                                <div class="mb-3 mt-3 form-group">
                                    <label for="othername" class="form-label">Othernames:</label>
                                    <input type="text" class="form-control" id="othername" placeholder="Enter othername" name="othername" required value="{{ profile['othernames'] }}">
                                </div>
                                <div class="mb-3 mt-3 form-group">
                                    <label for="houseaddress" class="form-label">House Address: (house no and street name)</label>
                                    <input type="text" class="form-control" id="houseaddress" placeholder="Enter house number" name="houseaddress" required value="{{ profile['houseaddress'] }}">
                                </div>
                                <div class="mb-3 mt-3 form-group">
                                    <label for="apartmenttype" class="form-label">Apartment Type: </label>
                                </div>
                                <select name="apartmenttype" class="form-select mt-3">
                                    <option value="001" {{ 'selected' if profile['apartmenttypecode'] == '001' else '' }}>Bungalow</option>
                                    <option value="002" {{ 'selected' if profile['apartmenttypecode'] == '002' else '' }}>Flats</option>
                                    <option value="003" {{ 'selected' if profile['apartmenttypecode'] == '003' else '' }}>Duplex</option>
                                    <option value="004" {{ 'selected' if profile['apartmenttypecode'] == '004' else '' }}>Single Room</option>
                                    <option value="005" {{ 'selected' if profile['apartmenttypecode'] == '005' else '' }}>Mini Flats</option>
                                    <option value="006" {{ 'selected' if profile['apartmenttypecode'] == '006' else '' }}>Self Contained</option>
                                    <option value="007" {{ 'selected' if profile['apartmenttypecode'] == '007' else '' }}>Commercial</option>
                                    <option value="008" {{ 'selected' if profile['apartmenttypecode'] == '008' else '' }}>Network Mast</option>
                                </select>
                                <div class="mb-3 mt-3 form-group">
                                    <label for="landlord" class="form-label">LandLord: </label>
                                </div>
                                <select name="landlordid" class="form-select mt-3 form-group">
                                    <option value="0">-----select a landlord-----</option>
                                    {% for items in landlordinfo %}
                                    <option value="{{ items[6] }}" {{ 'selected' if profile['landlordid'] == items[6] else '' }}> {{ items[1] }}{{ ', ' }}{{ items[2] }}{{ ', ' }}{{ items[0] }} </option>
                                    {% endfor %}

                                </select>
                                <div class="mb-3 mt-3 form-group">
                                    <label for="pspgroups" class="form-label">PSP Groups: </label>
                                </div>
                                <select name="pspgroups" class="form-select mt-3 form-group">
                                    <option value="0">-----select a PSP Group-----</option>
                                    {% for items in groupinfo %}
                                    <option value="{{ items[3] }}" {{ 'selected' if profile['groupid'] == items[3] else '' }}> {{ items[0] }}</option>
                                    {% endfor %}

                                </select>
                                <div class="mb-3 mt-3 form-group">
                                    <label for="status" class="form-label">Status: </label>
                                </div>
                                <select name="status" class="form-select mt-3">
                                    <option value="ACTIVE" {{ 'selected' if profile['status'] == 'ACTIVE' else '' }}>ACTIVE</option>
                                    <option value="INACTIVE" {{ 'selected' if profile['status'] == 'INACTIVE' else '' }}>INACTIVE</option>
                                </select>
                                <div class="mb-3 mt-3">
                                    <label for="phonenumber" class="form-label">Account Number:</label>
                                    <select class="form-select mt-3" id="phonenumber" name="phonenumber">
                                        {% for items in residentinfo %}
                                        <option value="{{ items[4] }}" {{ 'selected' if profile['acct_number'] == items[4] else '' }}> {{ items[1]+', '+items[2]+', '+items[3]+', '+items[0] }} </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="mb-3 mt-3 form-group">
                                    <label for="mobilenumber" class="form-label">Mobile Number: (whatsapp)</label>
                                    <input type="text" class="form-control" id="mobilenumber" placeholder="Enter mobile number" name="mobilenumber" required readonly value="{{ profile['phonenumber'] }}">
                                </div>


                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
{% include "footer.html" %}