{% include "header.html" %}
<link rel='stylesheet' href='./static/assets/css/login.css'>
<br />
<br />
<br />
<br />
<section>
    <main class="mb-4">
        <div class="container px-4 px-sm-5">
            <div class="row gx-4 gx-sm-5 justify-content-center">
                <div class="col-md-auto col-sm-auto col-sm-auto">
                    <div class="my-5">
                        <div class="form-box">
                            <div class="form-value">
                                <form action="{{ url_for('login_confirm') }}" method="POST">
                                    <h2>Login Here!</h2>
                                    <div class="inputbox">
                                        <ion-icon name="phone-outline"></ion-icon> <input type="text" name="phonenumber" required value="">
                                        <label>Phone (+234803XXXXXXX)</label>
                                    </div>
                                    <div class="inputbox">
                                        <ion-icon name="lock-closed-outline"></ion-icon> <input type="password" name="password"
                                                                                                required value=""> <label>Password</label>
                                    </div>
                                    <div class="forget">
                                        <label><input type="checkbox">Remember Me</label> <a href="changepassword">
                                            Change
                                            Password
                                        </a>
                                    </div> <button>Log In</button>
                                    <div class="register">
                                        <p>Don't have an account? <a href="register">Sign Up</a></p>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</section>
    </body>
{% include "footer.html" %}