{% include "header.html" %}
<link rel='stylesheet' href='./static/assets/css/login.css'>
        <br>
        <br>
        <br>
        <br>
        <section>
            <div class="form-box">
                <div class="form-value">
                    <form action="{{ url_for('login_confirm') }}" method="POST">
                        <h2>Login Here!</h2>
                        <div class="inputbox"> <ion-icon name="phone-outline"></ion-icon> <input type="text" name="phonenumber" required value="">
                            <label>Phone (+234803XXXXXXX)</label>
                        </div>
                        <div class="inputbox"> <ion-icon name="lock-closed-outline"></ion-icon> <input type="password" name="password"
                                required value=""> <label>Password</label> </div>
                        <div class="forget"> <label><input type="checkbox">Remember Me</label> <a href="#">Forgot
                                Password</a> </div> <button>Log In</button>
                        <div class="register">
                            <p>Don't have an account? <a href="#">Sign Up</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </section> 
    </body>
{% include "footer.html" %}