{% include "header.html" %}
<br /><br /><br />
<div class="px-1 pt-2 my-2 text-center border-bottom">
    <h3>Residents Personal Information Form</h3>
</div>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-md-5">
                <div class="row gx-4 gx-md-5 justify-content-center">
                    <div class="col-md-auto col-md-auto col-md-auto">
                        <div class="my-5">
                            <form action="{{ url_for('add') }}" method="POST">
                                <div class="mb-3 mt-3">
                                    <label for="title" class="form-label">Title: </label>
                                </div>
                                <select name="title" class="form-select mt-3">
                                    <option value="Mr">Mr</option>
                                    <option value="Mrs">Mrs</option>
                                    <option value="Ms.">Ms.</option>
                                  </select>                           
                                <div class="mb-3 mt-3">
                                    <label for="surname" class="form-label">Surname:</label>
                                    <input type="text" class="form-control" id="surname" placeholder="Enter surname" name="surname" required>
                                </div>
                                <div class="mb-3 mt-3">
                                    <label for="firstname" class="form-label">Firstname:</label>
                                    <input type="text" class="form-control" id="firstname" placeholder="Enter firstname" name="firstname" required>
                                </div>
                                <div class="mb-3 mt-3">
                                    <label for="othername" class="form-label">Othernames:</label>
                                    <input type="text" class="form-control" id="othername" placeholder="Enter othername" name="othername" required>
                                </div>
                                <div class="mb-3 mt-3">
                                    <label for="houseaddress" class="form-label">House Address: (house no and street name)</label>
                                    <input type="text" class="form-control" id="houseaddress" placeholder="Enter house address" name="houseaddress" required>
                                </div>
                                <div class="mb-3 mt-3">
                                    <label for="apartmenttype" class="form-label">Apartment Type: </label>
                                </div>
                                <select name="apartmenttype" class="form-select mt-3">
                                    <option value="001">Bungalow</option>
                                    <option value="002">Flats</option>
                                    <option value="003">Duplex</option>
                                    <option value="004">Single Room</option>
                                    <option value="005">Mini Flats</option>
                                    <option value="006">Self Contained</option>
                                    <option value="007">Commercial</option>
                                    <option value="008">Network Mast</option>
                                  </select>
                                <div class="mb-3 mt-3">
                                    <label for="mobilenumber" class="form-label">Mobile Number: (whatsapp)</label>
                                    <input type="text" class="form-control" id="mobilenumber" placeholder="Enter mobile number" name="mobilenumber" required>
                                </div>

                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
{% include "footer.html" %}